nav{
  width: 100%;
  /* background: #333; */
  color: white;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  height: 50px;

}

.logo {
  max-width: 100px;
  height: auto;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;

}

.dark-nav{
  background: darkblue;
}


/* Navbar.css */

.navbar {
  background-color: #333; /* Navbar background color */
  overflow: hidden;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.dropbtn {
  background-color: lightblue;
  border-radius: 10px;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #3e8e41;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-icon{
  display: none;
}
@media (max-width: 1000px){
  .logo{
    width: 100px;
  }
  nav ul li{
    margin: 10px 15px;
  }
}
@media (max-width: 840px){
  nav{
    padding: 15px 0 ;
  }
  nav ul{
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    background: #212EA0;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px 40px;
  }
  .menu-icon{
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu{
    right: -200px;
  }
}